<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Hub</title>
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/Game-Hub/static/logo/logo.png" alt="Game Hub">
   
    </div>
    <button class="power-btn" onclick="logout()">⏻</button>
  </header>

  <main>
    <div class="card">
      <div class="add-btn">+</div>
      <p>Adicione seus <span>jogos!</span></p>
    </div>
  </main>
</body>
<script src="/Game-Hub/static/js/logout.js"></script>
</html>
