<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Hub</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" href="/static/logo/logo.png">
</head>
<body>
<div class="login-container">
    <img src="/static/logo/logo.png" alt="Game Hub Logo">
    <h1>Login</h1>
    <form>
      <input type="text" id="usuario" placeholder="Usuário" required>
      <input type="password" id="senha" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>
    <div class="links">
      <a href="recuperar.html">Esqueci a senha</a> | 
      <a href="register.html">Cadastrar</a>
    </div>
</div>
</body>
<script src="/static/js/login.js"></script>
</html>