<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Hub</title>
    <link rel="stylesheet" href="/static/css/recuperar.css">
    <link rel="icon" href="/static/logo/logo.png">
</head>
<body>
     <div class="recover-container">
      <img src="/static/logo/logo.png" alt="Game Hub Logo">
      <h1>Recuperar Senha</h1>
      <p>Digite seu e-mail para receber o link de recuperação.</p>
      <form>
        <input type="email" placeholder="Seu e-mail" required>
        <button type="submit">Recuperar Senha</button>
      </form>
      <div class="links">
        <a href="login.html">Voltar ao Login</a>
      </div>
  </div>
</body>
</html>